@media screen and (min-width: 701px) {
    .playlist-container{
    width: 45%;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.playlist {
    width: 100%;
    
}

.playlistName input{
    width: 100%;
    font-family: "Yrsa";
    Font-weight: 700;
    Font-size: 1.5rem;
    color: #892651;
    background-color: #FDFCDC;
    border: none;
    border-bottom: 1px solid #892651;
}

.tracklist {    
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.save-button {
    font-size: 1rem;
    margin: 1rem 0;
    
}