/* Responsive Design for desktop above 1099px */
@media screen and (max-width: 1098px) and (min-width: 701px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .project.container {
    flex-direction: column;
  }
}