/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Header Title */
header span {
    font-weight: bold;
}

.main-title h1 {
    font-weight: 100;
    color: #892651;
}

.seven {
    font-weight: 900;
    color: #aa2e64;
}

.nine {
    font-weight: 900;
    color: #892651;
}


/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.3rem;
    margin: 1rem 0;
    z-index: 1001;
}
.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: #892651;
    border-radius: 2px;
    transition: 0.3s;
}
/* Header Nav */
nav {
    display: flex;
    text-align: right;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav li {
    margin-left: 2rem;
}
/* Adjusting the nav for smaller screens */
@media screen and (max-width: 889px) {
    nav li {
        margin-left: 0;
        margin-right: 2rem;
    }
}